{
	"web_server": {
		"server": "127.0.0.1",
		"port": 8080
	},
	"redis_server": {
		"address": "127.0.0.1",
		"port": 6379,
		"db": "1",
		"password": null
	},
	"mysql_server": {
		"address": "127.0.0.1",
		"port": 3306,
		"db": "db",
		"password": "pwd"
	},
	"rpc_server_d": {
		"address": "127.0.0.1",
		"port": 10086
	},
	"rpc_server_f": {
	    "address": "127.0.0.1",
	    "port": 10086
	}
}